<div class="row">
  <div class="col-md-8 offset-md-2">
      <div class="card">

        <div class="container">
  
          <div class="omb_login">
            <br>
            <h3 class="omb_authTitle" style="color: black;">Ingresar o <a href="registro">Registrarse</a></h3>
            <br>
            <div class="row omb_row-sm-offset-3">
              <div class="col-xs-12 col-sm-6">
                <form class="omb_loginForm" [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off" method="POST">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user">&nbsp;</i></span>
                    <input formControlName="email" type="text" class="form-control" name="useremail" placeholder="Email">
                  </div>
                  <span class="help-block"></span>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock">&nbsp;</i></span>
                    <input formControlName="password" type="password" class="form-control" name="password"
                      placeholder="Contraseña">
                  </div>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block"  type="submit">Ingresar</button>
                </form>
              </div>
            </div>
            <br>
          </div>
  
        </div>
      
    </div>
  </div>
</div>
